<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="{JS_PATH}rem.js"></script>
    	<link rel="stylesheet" type="text/css" href="{CSS_PATH}dingdan.css"/>
    	<link rel="stylesheet" href="{LAYUIJS_PATH}font1/iconfont.css" />
		<script src="{JS_PATH}jquery.min.js"></script>
		<script src="{JS_PATH}iscroll-probe.js"></script>
		<script src="{JS_PATH}order.js"></script>
	</head>
	<body>
		<div class="top">
			<p>订单</p>	
		</div>
		<div class="scroll">
			<ul class="order">
			</ul>
		</div>
		<ul class="tab">
			<li><a href="/10.24food/index.php/"><i class="iconfont icon-shouye"></i><span>首页</span></a></li>
			<li><a href="#"><i class="iconfont icon-weibiaoti2fuzhi15"></i><span>发现</span></a></li>
			<li><a href="/10.24food/index.php/order"><i class="iconfont icon-dingdan"></i><span>订单</span></a></li>
			<li><a href="/10.24food/index.php/mine"><i class="iconfont icon-wode"></i><span>我的</span></a></li>
		</ul>
	</body>
</html>
