<link rel="stylesheet" href="{CSS_PATH}insertcate.css">

{include file='header.html'}

<div class="layui-side layui-bg-black">
    {include file='slide.html'}
</div>

<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;"><!--内容主体区域-->

        <form class="layui-form" action="">

            <div class="layui-form-item">
                <label class="layui-form-label">所属店铺</label>
                <div class="layui-input-block">
                    <select name="sid" lay-filter="shop">
                        <!--{$str}-->
                        {foreach $shop as $key=>$v}
                        <option value="{$v['id']}"> {$v['shopname']} </option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属分类</label>
                <div class="layui-input-block">
                    <select name="gid" lay-filter="required">
                        {foreach $type as $key=>$v}
                        <option value="{$v['gid']}"> {$v['title']} </option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">食品名称</label>
                <div class="layui-input-block">
                    <input type="text" value="{$goods['title']}" lay-filter="required" name="title" placeholder="食品名称" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">食品描述</label>
                <div class="layui-input-block">
                    <input type="text" value="{$goods['des']}" name="des" placeholder="店铺公告" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">折扣价</label>
                <div class="layui-input-block">
                    <input type="number" value="{$goods['discount']}" lay-filter="required" name="discount" placeholder="折扣价" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">现价</label>
                <div class="layui-input-block">
                    <input type="number" value="{$goods['price']}" name="price" placeholder="现价" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--缩略图-->
            <div class="laui-form-item">
                <label class="layui-form-label"></label>
                <ul class="imgBox">
                    <li>
                        <img src="{$goods['thumb']}" alt="" id="thumb">
                        <div class="mask"></div>
                        <div class="button">
                            <i class="layui-icon layui-icon-face-smile"></i>
                            <i class="layui-icon layui-icon-face-cry"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label">上传缩略图</label>
                <button type="button" class="layui-btn" id="test2">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
            </div>
            <input type="hidden" name="thumb" >
            <input type="hidden" name="id" value="{$goods['id']}">

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-footer">
    版权信息
</div>
</div>
<script src="{LAYUIJS_PATH}layui.all.js"></script>
<script src="{JS_PATH}editgoods.js"></script>
</body>
</html>