<link rel="stylesheet" href="{CSS_PATH}insertcate.css">

{include file='header.html'}

<div class="layui-side layui-bg-black">
    {include file='slide.html'}
</div>

<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;"><!--内容主体区域-->

        <form class="layui-form" action="">

            <div class="layui-form-item">
                <label class="layui-form-label">父级栏目</label>
                <div class="layui-input-block">
                    <select name="pid" lay-verify="required">
                        <option value="0">一级栏目</option>
                        {$str}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">栏目名称</label>
                <div class="layui-input-block">
                    <input type="text" lay-filter="required" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--缩略图-->
            <div class="laui-form-item">
                <label class="layui-form-label"></label>
                <ul class="imgBox">
                    <!--<li>-->
                        <!--<img src="/10.24food/static/images/14.jpg" alt="" id="thumb">-->
                        <!--<div class="mask"></div>-->
                        <!--<div class="button">-->
                            <!--<i class="layui-icon layui-icon-face-smile"></i>-->
                            <!--<i class="layui-icon layui-icon-face-cry"></i>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>

            </div>

            <div class="layui-form-item" >
                <label class="layui-form-label">上传缩略图</label>
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
            </div>

            <input type="hidden" name="thumb" >

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                </div>
            </div>
        </form>


    </div>
</div>

<div class="layui-footer">
    版权信息
</div>
</div>
<script src="{LAYUIJS_PATH}layui.all.js"></script>
<script src="{JS_PATH}insertcate.js"></script>
</body>
</html>