
    {include file='header.html'}

    <style>
        .layui-table-cell {
            height: 30px;
        }
    </style>

    <div class="layui-side layui-bg-black">
        {include file='slide.html'}
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">

            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
                </div>
            </script>
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
            <div class="demoTable">
                搜索gid：
                <div class="layui-inline">
                    <input class="layui-input" name="gid" id="gid" autocomplete="off">
                </div>
                搜索title：
                <div class="layui-inline">
                    <input class="layui-input" name="title" id="title" autocomplete="off">
                </div>
                搜索店铺名称：
                <div class="layui-inline">
                    <input class="layui-input" name="shopname" id="shopname" autocomplete="off">
                </div>
                <button class="layui-btn search" data-type="reload">搜索</button>
            </div>
            <table id="table" lay-filter="test"></table>
        </div>
    </div>
    <div class="layui-footer">
        版权信息
    </div>
</div>
<script src="{LAYUIJS_PATH}layui.all.js"></script>
<script src="{JS_PATH}managegtype.js"></script>

</body>
</html>