<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>支付成功</title>
		<script src="{JS_PATH}rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="{CSS_PATH}chenggong.css" />
		<link rel="stylesheet" href="{LAYUIJS_PATH}font1/iconfont.css" />
		<script src="{JS_PATH}jquery.min.js"></script>
		<script src="{JS_PATH}success.js"></script>
	</head>
	<body>
		<div class="top">
			<a href="javascript: history.back();"><i class="iconfont icon-buoumaotubiao09"></i>支付成功</a>
		</div>
		<div class="main">
			<h5>您本次消费共<span>339</span>元</h5>
			<i class="iconfont icon-duihaocheckmark17"></i>
		</div>
		<div class="footer">
			<a href="/10.24food/index.php/index">继续购物</a>
			<a href="">查看订单</a>
		</div>
	</body>
</html>
